@model TestApp.Models.UserModel
@using TestApp.Models
@using CommonFiles.Resource
@using reCaptcha;
@{
    ViewBag.Title = "Create User";
}


<h2>@Model.Username</h2>
@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    <div class="row">
        @Html.Label(UserResources.Username, new { @class = "col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control" ,@readonly="readonly"})
            @Html.ValidationMessageFor(model => model.Username)
        </div>
    </div>
    <div class="row">
        @Html.Label(UserResources.Password, new { @class = "col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Password, new { @type = "password", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>
    </div>
    <div class="row">
        @Html.Label(UserResources.RetypePassword, new { @class = "col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.PasswordSecond, new { @type = "password", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PasswordSecond)
        </div>
    </div>
    <div class="row">
        @Html.Label(UserResources.Email, new { @class = "col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>
    <div class="row">
        @Html.Label(UserResources.Gender, new { @class = "col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Gender, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <hr />
    <div class="row">
        @Html.Label(UserResources.SecretQuestion, new { @class = "col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.SecretQuestion, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="row">
        @Html.Label(UserResources.SecretAnswer, new { @class = "col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.SecretAnswer, new { @type = "password", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SecretAnswer)
        </div>
    </div>
    <div class="row">
        @Html.Label(UserResources.About, new { @class = "col-md-2" })
        <div class="col-md-4">
            @Html.TextAreaFor(model => model.About, new { @class = "form-control" })
        </div>
    </div>
    <input class="btn btn-default" type="submit" value=@UserResources.btnSend />
}